@use 'src/css/abstract/_variables.scss';
@import 'src/css/components/_mediaqueries.scss';
@import 'src/css/abstract/_mixins.scss';

body
{
    margin: 0;
    background-color: variables.$backgrund_color;;
}




.container_ruta
{

    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-image: variables.$object_color;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    max-width: 900px;
    min-height: 800px;
    margin: auto;
    margin-top: 120px;
 
    border-radius: 20px;


    @include  respond_to('medium'){margin: 10%;}

    @include  respond_to('small'){margin: 2%;}


    h1
    {
        background-color: variables.$second_color;
        color: variables.$headings_color;
        font-size: 5vw;

        height: 100px;
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
 
        

        @include round_top_Corner($Top_radious:20px);
        @include  respond_to('medium'){font-size: 8vw;}
      
    }

    
    p
    {
        color: variables.$text_color;
        text-align: center;
    }
    
    
    

}

    .mapss
    { 
    height: 380px;
    width: 80%;    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    }

// fixa denna sedan

@media
(prefers-color-scheme: light)
{

    .container_ruta
        {

            background-color: variables.$second_color-lightm;
        
            h1
            {
                background-color: variables.$primar_color-lightm;
                color: variables.$headings_color-lightm;
    
            }
       
        
        }


        body
        {
            
            background-color: variables.$backgrund_color-lightm;
        }
}



