

@keyframes hotspot {
    0%
    {

        
    }


    
    100%
    {
        transform: translate(0,0);
    }
}



@keyframes text_glow
{
    10%
    {
        text-shadow: none;
    }

    20%
    {
        text-shadow: 2px 2px 2px black;
    }
   
}