@use 'src/css/components/_animation.scss';

.button_sok
{
    width: 150px;
    height: 40px;
    background-color:rgb(72, 134, 114) ;
    margin: 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    &:hover
    {
        background-color:rgb(152, 236, 208);
        color: black;
    }
}

.tillhotspot
{
    width: 150px;
    height: 40px;
    background-color:rgb(72, 134, 114) ;
    margin: 20px;
    border-radius: 20px;
    color: white;

    cursor: pointer;
    &:hover
    {
        background-color:rgb(152, 236, 208);
        color: black;
    }
}